CI_ENV=production
BASE_URL=http://muledraws.test/
CI_INDEX_PAGE=
CI_URI_PROTOCOL=REQUEST_URI
CI_ENCRYPTION_KEY=

DB_DRIVER=mysqli
DB_HOSTNAME=127.0.0.1:3307
DB_USERNAME=root
DB_PASSWORD=
DB_DATABASE=muledraws
DB_DSN=
DB_PREFIX=
DB_PCONNECT=false
DB_DEBUG=true

CI_SESS_DRIVER=database
CI_SESS_COOKIE_NAME=muledraws
CI_SESS_EXPIRATION=7200
CI_SESS_SAVE_PATH=ci_sessions
CI_SESS_MATCH_IP=false
CI_SESS_TIME_TO_UPDATE=300
CI_SESS_REGENERATE_DESTROY=false
