# Environment
.env

# Dependencies
/vendor/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# CodeIgniter
application/logs/*
!application/logs/index.html
application/cache/*
!application/cache/index.html

# Composer
composer.lock

assets/media/uploads